.nav_bar--horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .nav_bar--horizontal a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  .nav_bar--horizontal li {
    float: left;
  }
  .container {
    background-color: whitesmoke;
    margin-left: 256px;
    margin-right: 256px;
    bottom: 0;
    height: 96vh;
  padding-top: 3%;
  padding-left: 1%;
  text-align: center;
  
  }
  .text{
    margin-top: 5%;
    font-size: 16px;
    margin-right: 60%;
    
  }
  .layout{
    display: grid;
    grid-template-columns:50% 50%; 
  }
.Header {
  margin-top:5%;
}