<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
    <ul class="nav_bar--horizontal">
        <li>
            <a href="/index.html">Startsida</a>
          </li>
          <li>
            <a href="/view/Viktiga_handelser.html">Viktiga händelser</a>
          </li>
          <li>
            <a href="/view/Hur hemsidor har utvecklats.html">Hur hemsidor har utvecklats</a>
          </li>
          <li>
            <a href="/view/Internets grunder.html">Internets grundläggande principer</a>
          </li>
          <li>
            <a href="/view/Webbpubleceringssystem.html">Webbpubliceringssystem</a>
          </li>
    </ul>
    <h1 class="Header"> Dragons Lair 2005</h1>
    <div class="layout">
        <p class="text">Den senaste verisionen av hemsidan är mer luftig och använder sig av bilder. På den nya sidan så kan man skapa en inloggning och den är mycket mer uppdelad. Nånting med den nya sidan är att den är uppdelad mellan dens två butiker vilket gör att det blir ännu luftigare för att den sorterar då produkter efter vilken butik man har valt. Den nya hemidan visar också nya produkter som har kommit in rakt på startsidan. Jag tror att hemsidan har utvecklats som den har gjort just för att när dem gjorde hemsidan tror jag att dem inte hade någon speciellt kunnig som har gjort den och att nu på senare tid så har dem nog anställt någon som ska ha gjort hemsidan åt dem kanske på grund av kundernas förslag om hur deras hemsidor ser ut. Jag tror att i framtiden så kan dem göra en helt ny hemsida för den andra butiken så att om man vill köpa brädspel så kollar man på ena och man vill kolla på samlarkort går man till den andra. </p>
          <div id="">
              <img id="platsbyte" src="/Dragonslair2005.png" alt="">
          </div> 
          </div>
          
          <div class="layout">
              <div></div>
                <img src="/dragonslair2020.jpg" alt="">
                </div>
    
  </body>
  <script src="/js/script.js"></script>
</html>