<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
    <ul class="nav_bar--horizontal">
      <li>
        <a href="/view/Startsida.html">Startsida</a>
      </li>
      <li>
        <a href="/view/Viktiga_handelser.html">Viktiga händelser</a>
      </li>
      <li>
        <a href="">Hur hemsidor har utvecklats</a>
      </li>
      <li>
        <a href="">Internets grundläggande principer</a>
      </li>
      <li>
        <a href="">Webbpubliceringssystem</a>
      </li>
    </ul>
    <h1 class="Header">60-Talet</h1>
    <div class="layout">
        <p class="text">Året före JCR Licklider beskriver sina idéer om ett ”intergalaktiskt nätverk”, som senare kommer att utvecklas till det som är internet, presenterar ryssen Viktor Glushkov en liknande plan. Projektet heter OGAS (en förkortning som på svenska ungefär betyder ”hela statens automatiska system”), och påminner till stor del om internet.<br>
          Redan 1959 har ett liknande projekt lagts ner (initierat av Anatolij Kitov), som syftade till att automatisera ekonomiska uppgifter, då militären varit oroliga för att de skulle behöva överlämna viktig information till civila ekonomiska planerare.<br>
          OGAS är något annat och ska vara uppdelat i tre lager, tänker sig Viktor Glushkov. Nätverket ska styras från Moskva, med 200 centraler på medelnivå och 20 000 inkopplade datorer runt om i Sovjetunionen. Dessa ska kunna kommunicera med varandra decentraliserat – alltså utan att gå vägen via Moskva. Allt sammankopplat via telefonledningar.<br>
          Visionerna är större än så, i framtiden vill han koppla ihop alla länder i Europa och Asien i nätverket. Varenda fabrik och vartenda kontor skulle var uppkopplat. Perfekt för en planekonomi, tyckte Glushkov. Genom nätverket skulle man även kunna göra betalningar, utan att använda fysiska pengar.<br>
          Men projektet förverkligas inte, eftersom Viktor Glushkov i oktober 1970 helt enkelt inte får vidare finansiering till sin satsning. Finansministern säger nej. Då har amerikanarna redan startat Arpanet, som kommer att bli det vi i dag kallar internet. Glushkov arbetar vidare och föreslår nya, liknande, satsningar, men även dessa nobbas av kommunistpartiet.
          </p>
          <img src="/ogas-504x459 (1).png" alt="">
    </div><div class="layout">
      <p class="text">1978 Ett svenskt socialt nätverk startas – det revolutionerande KOM-systemet
        1978 kan för första gången hundratals svenskar, både forskare och privatpersoner, koppla upp sig mot en dator och skriva till varandra i så kallade ”möten”. Ett socialt nätverk är fött.
        <br>
        KOM-systemet är inte först, utan är tänkt att bygga på det amerikanska systemet Forum Planet (läs mer om Murray Turoffs revolutionerande system här). Men det fungerar dåligt, så projektledaren Jacob Palme och programmeraren Torgny Tholerus utvecklar en egen variant.
        <br>
        De gör det på uppdrag av Försvarets forskningsanstalt. KOM är tänkt att underlätta internkommunikation när en avdelning av kontoret ska flytta till en annan del av landet, men blir snabbt mer av en social knytpunkt för datorintresserade där allt från datorstandarder till jämställdhet och kärnkraft diskuterades.
        <br>
        
        Så här kunde det se ut, när debatten drog fram i KOM-systemet.
        <br>
        Sprider sig på 80-talet
        1982 kopplas KOM-systemet ihop med Arpanet (det som kommer att bli internet), vilket gör att svenska användare nu kan ge sig in i debatter i amerikanska mejlinglistor. Någon full tillgång till nätet är det dock inte tal om.
        <br>
        Riktigt berömt blir systemet först i samband med en skandal. Användaren och forskaren Eskil Block hävdar i ett inlägg att regissören Maj Wechselmann är sovjetisk spion. När hon får veta det via omvägar stämmer hon Eskil Block som döms för förtal. När systemet når sin höjdpunkt 1987 har det cirka 2 000 användare.
        <br>
        Webben slår ut KOM
        Under början av 1990-talet utvecklas två nya varianter av KOM-systemet. Först SuperKOM och sedan KOM95, med ett grafiskt gränssnitt. Men då är systemet passé. Webben har slagit igenom på bred front.
        <br>
        Torgny Tholerus, som programmerade och underhöll KOM-systemet, är ändå nöjd med hur saker utvecklar sig.
        <br>
        – Jag har aldrig varit intresserad av att tjäna pengar. Jag vill förbättra världen genom att skapa kommunikation mellan människorna. Därför är jag bara glad att Facebook har kommit. När jag började jobba kommunicerade man bara inom smågrupper, som familjen eller arbetsplatsen. Nu är det hela världen.
        <br>
        Se vår långa intervjun med Torgny Tholerus, som programmerade och underhöll KOM-systemet, nedan.
        <br>
        
        
        Se vår långa intervju med Jacob Palme nedan:
        <br>
        
        
        Jacob Palme, som var med och byggde upp KOM-systemet, har lagt upp lite prov på vad som försiggick i mötena
        Läs Jörgen Städjes minnen från KOM-systemet
        </p>
        <img src="/ogas-504x459 (1).png" alt="">
  </div>
  <div class="layout">
    <p class="text">Svenskarna får en tidig genväg till nätet – via KOM-systemet
      Arpanet är den amerikanska föregångaren till internet, som kopplar ihop främst forskningsanstalter.
      <br>
      1982 kopplas KOM-systemet ihop med Arpanet (via en brygga hos amerikanska Mailnet och sedan även via Usenet), så att användare på båda systemen kan skicka e-post och prata med varandra via mejlinglistor. Det är en av de första gångerna som svenskar kan ta del av det som då är ”internet”. Men man har alltså inte någon egen uppkoppling och kommunikationen rymmer enbart e-post.
      <br>
      1 8januari 1983 går Arpanet över till TCP/IP-protokollet (som fortfarande används). Och det är detta datum som många anser är dagen då det moderna internet föds. Den första svenska noden på internet skapas sommaren 1984, på Chalmers i Göteborg genom forskningsassistenten Ulf
      </p>
      <img src="/ogas-504x459 (1).png" alt="">
</div>
<div class="layout">
  <p class="text">Ibland beskrivs internet som ett exempel på en fungerande anarki. Det är inte riktigt sant. Däremot är det sant att nätet fortfarande bygger på decentralisering och öppenhet. Här går vi igenom några av organisationerna som ser till att internet funkar.
<br>
    En av grundidéerna med internet är att alla ska få använda det och att ingen ska få bestämma över det. Du behöver inte fråga någon om lov om du lägger upp en webbsida, det är bara att ladda upp den. Men det innebär inte att allt är tillåtet på internet. Fortfarande gäller lagarna i landet där du bor.
    <br>
    Internet behöver förstås regler för att fungera på det sätt som det är tänkt. Och för det behövs organisationer. 1992 startas Internet Society, ISOC, av Vint Cerf och Bob Kahn som skapade den så viktiga TCP/IP-tekniken (som internet fortfarande bygger på). Organisationen är till för att se till att internet förblir öppet och fritt världen över. ISOC har ungefär 50 000 medlemmar och verkar genom en rad olika organ, bland annat IETF och IESG. De här två organisationerna är löst sammansatta grupper av tekniker och programmerare som jobbar med att ta fram standarder för att internet ska fungera bättre ur ett tekniskt perspektiv.
    <br>
    1997 bildas ISOC-SE, den svenska grenen av ISOC, som samma år också grundar Internetstiftelsen (som bland annat driver Internetmuseum). En viktig grund även för den svenska delen av organisationen är synen på att internets styrka ligger i dess öppenhet och i dess decentraliserade struktur. ISOC-SE utser ordföranden och en ledamot i Internetstiftelsen i Sveriges styrelse.
    <br>
    Fler organisationer att hålla reda på
    Internets infrastruktur utgår bland annat från IP-adresser, domännamn och själva kablarna och antennerna som kopplar oss samman. Även här finns det viktiga organisationer som styr så att allt fungerar smidigt.
    <br>
    • IP-adresser
    Datorns eller telefonens adress på internet heter IP-adress och är en kombination av siffror. Adresserna hanteras av fem så kallade RIR:ar, Regional Internet Registries. Dessa fem är fördelade över världen och det som har hand om Sveriges IP-adresser heter RIPE-NCC och ligger i Amsterdam.
    <br>
    • Domännamn
    De namn som vi skriver in för att komma till en särskild webbsida kallas domännamn, och finns till för att att vi ska slippa komma ihåg IP-adresser för olika webbsidor och mejladresser. Domännamnen hanteras dels av de länder som namnet pekar mot (exempelvis hanterar Internetstiftelsen alla namn som slutar på .se) och dels av den världsomspännande organisationen ICANN (Internet Corporation for Assigned Names and Numbers). Dessa fungerar lite som webbens egen vägmyndighet, som bestämmer över vägnätet och kontrollerar att trafiken löper smidigt och att folk håller sig till trafikreglerna. ICANN, bildades på initiativ av amerikanska staten 1998. Tanken var då att organisationen skulle funka som en brygga mellan internets utvecklare och USA:s stat. 2016 lämnades kontrollen av ICANN över till alla världens länder.
    <br>
    • Trafiken på internet
    För att komma ut på internet behöver vi operatörerna. I Sverige kan de till exempel heta saker som Bredbandsbolaget, Telia, Tele2, Bahnhof eller Com hem. För att du ska kunna koppla upp dig behöver du ett abonnemang för din dator, mobil eller surfplatta. Det kan vara ett mobilabonnemang eller ett fast abonnemang, till exempel i en lägenhet.
    <br>
    • Politiken och internet
    Förenta Nationerna, FN, hade under möten 2003 och 2005 en tanke att skapa fasta spelregler för det internationella samarbetet på internet, på samma sätt som med tidigare tekniska landvinningar som telefoni eller flygresor. Problemet var att denna uppifrån-och-ner-approach krockade med det nedifrån-och-upp-fokus som redan fanns och fungerade. Istället etablerades IGF (Internet Governance Forum) som är en konferens där politiker, företag och tekniker möts för att diskutera internets styrning.
    <br>
    
    </p>
    <img src="/ogas-504x459 (1).png" alt="">
</div>
<div class="layout">
  <p class="text"> Amerikanska flottan skapar TOR – och nätet blir lite mera hemligt
      Att vara anonym på nätet ses länge som en självklarhet. Men när spåren på nätet blir för många utvecklas ett system att fortsätta vara hemlig. Och det är amerikanska armén som ligger bakom.
      <br>
      20 september 2002 släpps programmet Tor (The Onion Router), som är ett krypteringsnätverk med flera lager av kryptering och anonymisering (därför lök-liknelsen). Med hjälp av detta kan den som surfar göra det utan att lämna fotspår. Det skapas amerikanska flottan och sponsras av bland annat av svenska biståndsorganet Sida, som ett demokratiseringsverktyg.
      <br>
      Lite senare samma höst myntas begreppet darknet av en grupp forskare knutna till Microsoft.
      <br>
      Ordet ”deepweb” används ofta i sammanhanget, och det behandlar den del av nätet som inte är synlig från internets sökmotorer, så som lösenordsskyddade sajter eller innehåll bakom betalväggar. Innehållet i darknet nås bara med hjälp av programvaror som Tor.
      <br>
      Tekniken blir populär, både av vanligt folk och bland dem med ont uppsåt. Droghandlare, pedofiler och terrorister kan här kommunicera med kraftigt minskad risk att bli upptäckta. Men det fungerar även som en möjlighet för människor i länder där internet är kraftigt reducerat att nå ut.
      <br>
      I samband med valet 2006 lanseras den svenska tjänsten Relakks av Piratpartiet ihop med it-entreprenören Jonas Birgersson. Här får internetanvändaren en anonym ip-adress som inte går att spåra.
    </p>
    <img src="/ogas-504x459 (1).png" alt="">
</div>
<div class="layout">
  <p class="text">Anna-Karin Hatt blir Sveriges första IT-minister
      5 oktober 2010 blir Anna-Karin Hatt, C, Sveriges första IT-minister. Tidigare har området fallit in under infrastruktur, men nu bryts det alltså ut och får en egen ministerpost (som också har ansvar för energifrågor.)
      <br>
      – Föräldrar som kommer med ett öronsjukt barn till akuten ska kunna känna trygghet i att läkaren kan plocka upp barnets journal från vårdcentralen digitalt, vilket man inte kan i många landsting i dag för att man har olika system och upphandlingar, säger hon till TT när hon tillsätts.
      <br>
      IT i vården blir också en av hennes mest prioriterade frågor, liksom att digitalisera skolan och få fler tjejer att intressera sig för teknik.
      <br>
      Under sin tid vid makten skapar Hatt bland annat Digitaliseringsrådet och är med och tar fram en Digital agenda, som läggs fram 2011. Namnet är ”IT i människans tjänst – en digital agenda för Sverige”. Hon utses också, kanske inte helt överraskande, till årets mäktigaste IT-kvinna av tidningen Computer Sweden.
    </p>
    <img src="/ogas-504x459 (1).png" alt="">
</div>
    
  </body>
  <script src="js/script.js"></script>
</html>