<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
    <ul class="nav_bar--horizontal">
      <li>
        <a href="/view/Startsida.html">Startsida</a>
      </li>
      <li>
        <a href="/view/Viktiga_handelser.html">Viktiga händelser</a>
      </li>
      <li>
        <a href="">Hur hemsidor har utvecklats</a>
      </li>
      <li>
        <a href="">Internets grundläggande principer</a>
      </li>
      <li>
        <a href="">Webbpubliceringssystem</a>
      </li>
    </ul>
    <h1 class="Header">60-Talet</h1>
    <div class="layout">
        <p class="text">Året före JCR Licklider beskriver sina idéer om ett ”intergalaktiskt nätverk”, som senare kommer att utvecklas till det som är internet, presenterar ryssen Viktor Glushkov en liknande plan. Projektet heter OGAS (en förkortning som på svenska ungefär betyder ”hela statens automatiska system”), och påminner till stor del om internet.<br>
          Redan 1959 har ett liknande projekt lagts ner (initierat av Anatolij Kitov), som syftade till att automatisera ekonomiska uppgifter, då militären varit oroliga för att de skulle behöva överlämna viktig information till civila ekonomiska planerare.<br>
          OGAS är något annat och ska vara uppdelat i tre lager, tänker sig Viktor Glushkov. Nätverket ska styras från Moskva, med 200 centraler på medelnivå och 20 000 inkopplade datorer runt om i Sovjetunionen. Dessa ska kunna kommunicera med varandra decentraliserat – alltså utan att gå vägen via Moskva. Allt sammankopplat via telefonledningar.<br>
          Visionerna är större än så, i framtiden vill han koppla ihop alla länder i Europa och Asien i nätverket. Varenda fabrik och vartenda kontor skulle var uppkopplat. Perfekt för en planekonomi, tyckte Glushkov. Genom nätverket skulle man även kunna göra betalningar, utan att använda fysiska pengar.<br>
          Men projektet förverkligas inte, eftersom Viktor Glushkov i oktober 1970 helt enkelt inte får vidare finansiering till sin satsning. Finansministern säger nej. Då har amerikanarna redan startat Arpanet, som kommer att bli det vi i dag kallar internet. Glushkov arbetar vidare och föreslår nya, liknande, satsningar, men även dessa nobbas av kommunistpartiet.
          </p>
          <img src="/ogas-504x459 (1).png" alt="">
    </div>
    
  </body>
  <script src="js/script.js"></script>
</html>