<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
    <ul class="nav_bar--horizontal">
        <li>
            <a href="/index.html">Startsida</a>
          </li>
          <li>
            <a href="/view/Viktiga_handelser.html">Viktiga händelser</a>
          </li>
          <li>
            <a href="/view/Hur hemsidor har utvecklats.html">Hur hemsidor har utvecklats</a>
          </li>
          <li>
            <a href="/view/Internets grunder.html">Internets grundläggande principer</a>
          </li>
          <li>
            <a href="/view/Webbpubleceringssystem.html">Webbpubliceringssystem</a>
          </li>
    </ul>
    <h1 class="Header"> Joomla</h1>
    <div class="layout">
        <p class="text">Joomla is a free and open-source content management system (CMS) for publishing web content, developed by Open Source Matters, Inc. It is built on a model–view–controller web application framework that can be used independently of the CMS.

            Joomla is written in PHP, uses object-oriented programming techniques (since version 1.5) and software design patterns, stores data in a MySQL, MS SQL (since version 2.5), or PostgreSQL (since version 3.0) database, and includes features such as page caching, RSS feeds, printable versions of pages, news flashes, blogs, search, and support for language internationalization.[4][5][6]
            
            Over 8,000 free and commercial extensions are available from the official Joomla Extensions Directory, and more are available from other sources.[7] As of 2019, it was estimated to be the fourth most used content management system on the Internet, after WordPress and Drupal.[8]
            Joomla was result of a fork of Mambo on August 17, 2005. At that time, the Mambo name was a trademark of Miro International Pvt. Ltd, who formed a non-profit foundation with the stated purpose of funding the project and protecting it from lawsuits.[9] The Joomla development team claimed that many of the provisions of the foundation structure violated previous agreements made by the elected Mambo Steering Committee, lacked the necessary consultation with key stakeholders and included provisions that violated core open source values.[10]

            Joomla developers created a website called OpenSourceMatters.org (OSM) to distribute information to the software community. Project leader Andrew Eddie wrote a letter that appeared on the announcements section of the public forum at mamboserver.com.[11] Over one thousand people joined OpenSourceMatters.org within a day, most posting words of encouragement and support. Miro CEO Peter Lamont responded publicly to the development team in an article titled "The Mambo Open Source Controversy — 20 Questions With Miro".[12] This event created controversy within the free software community about the definition of open source. Forums of other open-source projects were active with postings about the actions of both sides.
            
            In the ty continued to grow. Eben Moglen and the Software Freedom Law Center (SFLC) assisted the Joomla core team beginning in August 2005, as indicated by Moglen's blog entry from that date and a related OSM announcement.[13][14] The SFLC continue to provide legal guidance to the Joomla Project.[15]
            
            On August 18, Andrew Eddie called for community input to suggest a name for the project. The core team reserved the right for the final naming decision and chose a name not suggested by the community. On September 22, the new name, Joomla!, was announced. It is the anglicised spelling of the Swahili word jumla, meaning all together or as a whole that also has a similar meaning in at least Amharic, Arabic and Urdu.[16] On September 26, the development team called for logo submissions from the community and invited the community to vote on the logo; the team announced the community's decision on September 29. On October 2, brand guidelines, a brand manual, and a set of logo resources were published.[17]</p>
          <img src="/300px-Joomla!-Logo.svg.png" alt="">
          </div>
          <h1 class="Header"> ikiwiki</h1>
          <div class="layout">
              <p class="text">ikiwiki is a free and open-source wiki application, designed by Joey Hess. It is licensed under the terms of the GNU General Public License, version 2 or later. ikiwiki is written in Perl, although external plugins can be implemented in any language.

                Unlike conventional wiki software, ikiwiki stores its pages in a standard version control system such as Git, Subversion or others.[2]
                ikiwiki supports several lightweight markup languages, including Markdown, Creole, reStructuredText and Textile.

                In the simplest case, it can function as an off-line static web site generator (possibly still allowing different users to submit changes through VCS; this method is sometimes referred to as wiki compiler), but it can use CGI to function as a normal web-interfaced wiki as well.[3] Login via OpenID is supported.
                
                ikiwiki can be used for maintaining a blog, and includes common blogging functionality such as comments and RSS feeds. The installer includes an option to set up a simple blog at install time.[4]
                
                ikiwiki is included in various Linux distributions, including Debian and Ubuntu.[3]</p>
                <img src="/220px-Ikiwiki.svg.png" alt="">
                </div>
    
  </body>
  <script src="js/script.js"></script>
</html>